h1 {
  padding: 35px;
  text-align: center;
  background-color: darkblue;
  text color: limegreen;
}

h2, h3 {
  text-align:center;
}

body{
  background-color: lightcyan;
}

p {
  max-width: 60%; /* paragraph never gets wider than 60% of the screen */
  margin: 0 auto; /* centers it horizontally */
}
