h1 {
  padding: 20px;
  text-align: center;
  background-color: cadetblue;
  max-width: 60%;
  margin: 0 auto;
  font-size: 85;
  font-family: Bodoni MT;
}

h2 {
  padding: 20px;
  text-align: center;
  background-color: cadetblue;
  max-width: 60%;
  margin: 0 auto;
  font-size: 75;
  font-family: Magical Night;

}

h3 {
  text-align:center;
  font-size: 45;
  font-family: Bodoni MT;
  max-width: 60%;
  margin: 0 auto;
  padding: 30px;
}

h4 
{
  text-align:center;
  font-family: Bodoni MT;
  max-width: 40%;
  margin: 0 auto;
  padding: 5px;
  font-size: 30;
  background-color: 87cbcd;


}

body {
  background-color: lightcyan;
  margin: 0 auto;
}

p {
  max-width: 40%; /* paragraph never gets wider than 50% of the screen */
  margin: 0 auto; /* centers it horizontally */
  text-align:center;
  padding: 30px;
  font-family: Bookman Old Style;

}
